@charset "ISO-8859-1";

* {
	font-family: 'Trispace', sans-serif;
	color: #112E51;
	font-weight: bold;
}

*::first-letter {
	Text-Transform: uppercase;
}

/*
body {
	background-color: #dbdecc;
}

#Zeuss {
	color: #777435;
	text-transform: uppercase;
}
*/

#disbox {
	font-size: 150%;
}

#butM, #butMa, #butMb, #butMc {
	color: #dbdecc;
}

/*Use default Bootstrap background
#deployModal, #transferModal, #balanceModal, #scholarshipModal {
	background-color: #dbdecc;
}
*/

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#jumbo {
	color: #112E51;
}

#footerLogo {
	bottom: 0;
	display: flex;
	justify-content: center;
}

/* Looks more professional without the box
.login {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: white;
	border-radius: 30px;
	box-shadow: 12px 12px 22px;
}
*/

img.resize {
	max-width: 50%;
	max-height: 50%;
}

.login img {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.login h1 {
	font-size: 4rem;
	font-weight: 700;
}

.inp {
	height: 50px;
	width: 70%;
	border: none;
	outline: none;
	border-radius: 60px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
