<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="fragments :: header">
<meta charset="ISO-8859-1">
<title>Blockchain Visualization</title>
</head>

<body>

   <div class="jumbotron" style="text-align: center">
      <h3>
         <span
            style="font-size: 2em; text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);"
            id="jumbo"> Visual of the Ethereum Blockchain </span> <br />
      </h3>
      <hr />
   </div>

   <p style="text-align: center; font-style: italic; opacity:95%"> This is a visual representation of the <strong> current state</strong> of the Ethereum Blockchain. Each time a transaction is completed, a new block is created and 
   will be displayed on this page. </p>
   
      <!-- 3 Columns/Items per row -->
   <div class="container">
      <div class="row row-cols-3" >
         <div th:each="block, iteration : ${session.ethereumBlocksList}"
            class="col-sm-4">
            <div class="card" style="width: 23rem; border: groove; margin:0.25em; padding:4rem; background-color: rgb(245,222,179); box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.30);">
              
              <h3 style="text-align:center;"> Block #<span th:text="${block.getBlockNumber()}"></span> </h3>
              <hr />
              <p style="text-align:center"> Transaction Stored: 
              <th:block th:switch="${block.getGasUsed()}">
               <span th:case="0"> Contract Deployment </span>
               <span th:case="37642"> Funds Transfer</span>
               <span th:case="*"> Funds Transfer</span>
              </th:block>
              </p>
              <br />
              <h5 style="font-style: italic;"> Block Data </h5> 
              <nobr> Block ID: <span th:text="${block.getId()}"></span> </nobr>
              <nobr> Creation Date: <span th:text="${block.getTimestamp()}"></span> </nobr>
              <nobr> Gas Limit: <span th:text="${block.getGasLimit()}"></span> </nobr>
              <nobr> Gas Used to Create: <span th:text="${block.getGasUsed()}"></span> </nobr>
              <nobr> Block Size: <span th:text="${block.getBlockSize()}"></span> </nobr>
               
               </div>
            </div>
         </div>
      </div>



</body>
</html>

<!-- References:
https://stackoverflow.com/questions/63401889/applying-box-shadow-to-bootstrap-4-card-component -->