<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="fragments :: header">
<title>New User Account Creation</title>
</head>

<body>
   <div style="text-align: center">
    <h4> <span class="jumbo" style="font-size: 2em; text-shadow: 2px 2px 2px rgba(0,0,0,0.2); ">Create a New Account </span> <br />
    </h4>
    <hr />
        
      <form th:action="@{/registration/submit}" th:object="${user}" method="post">
         <label for="firstName"> First Name:  </label><br />  
         <input type="text" id="firstName" name="first_name" placeholder="John" th:field="*{first_name}"><br />  
         <label for="lastName"> Last Name:  </label><br>
         <input type="text" id="lastName" name="last_name" placeholder="Smith" th:field="*{last_name}"><br />  
         <label for="email"> Email address:  </label><br>
         <input type="text" id="email" name="email" placeholder="username@zuess.com" th:field="*{email}"><br />  
         <label for="password"> Password:  </label><br>
         <input type="text" id="password" name="password" placeholder="password" th:field="*{password}"><br /> <br />  
         <button type="submit" class="btn btn-primary">Create Account</button>
      </form>
      <br>
      <p>Already have an account? <a href="/login"> Login</a></p>
      <br><br>
    </div>
      
</body>
</html>

<!--References:
https://www.thymeleaf.org/doc/articles/layouts.html -->