<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="fragments :: header">
<meta charset="ISO-8859-1">
<title>User Account Page</title>
</head>

<body>
<!-- Custom Javascript Functions -->
<script>
$( document ).ready(function(){
   var modalToShow = $('#modalToShow').val();
   $(`#${modalToShow}`).modal('show'); 
});
</script>


	<div class="jumbotron" style="text-align: center">
		<h3>
			<span
				style="font-size: 2em; text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);"
				id="jumbo">Zuess User Portal </span> 
		</h3>
		<hr />
	</div>
	<br />
		
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="card" style="width: 18rem; border: none;">
					<div class="card-body">
						<h5 class="card-title"><span sec:authentication="principal.fullName"></span>'s Account Information </h5>
						<hr />
					  <p class="card-text"  style="width: 35rem;">
							Name: <span sec:authentication="principal.fullName"></span> <br />
							Roles: <span sec:authentication="principal.authorities"></span>
							<br /> 
							Email: <span sec:authentication="name"></span> <br /> 
							Ethereum Funds: $<span th:text="${session.user.getEth_account_balance()}"></span> <br /> 
							Ethereum Scholarship Funds: $<span th:text="${session.scholarshipBalance}"></span> <br /> 
							Ethereum ID: <span sec:authentication="principal.ethAccountId"></span> <br /> 
							Organizational ID: <span sec:authentication="principal.organizationId"></span> <br />
                  </p>
						<button type="button" class="btn btn-primary">Edit Account </button>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card" style="width: 18rem; border: none;">
						<div class="card-body">
							<h5 class="card-title"> My <span th:text="${session.contractType}"></span> Funds </h5>
							<hr />
							<p class="card-text"></p>
		
							<nobr>
							<button type="button" class="btn btn-primary"
								data-bs-toggle="modal" data-bs-target="#transferFundsModal"
								id="butM">Transfer Funds</button>
							    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewScholarshipsModal" id= "butMa">
                        View My Scholarships
                        </button>   	
                        </nobr>
      
							<!-- Transfer Funds Modal -->
							<div class="modal fade" id="transferFundsModal" tabindex="-1"
								aria-labelledby="transferFundsModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Transfer
												Funds</h5>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<form action="/userFundsTransfer" method="post">
												<label for="ethToAddress"> Recipient Address </label> <input
													type="text" style="margin: 0.2em" name="ethToAddress"
													placeholder="0xcA4273b2f988f680292439500fe7191d6aCAe64f"> <br />
												<label for="transferAmount"> Transfer Amount </label> <input
													type="number" name="transferAmount" value="0"> <br />
												<br />
												<button type="submit" class="btn btn-primary">
													Transfer Funds</button>
                                    <button type="button" class="btn btn-danger"
                                       data-bs-dismiss="modal">Cancel</button>
											</form>
											</div>
										</div>
									</div>
									<!-- End Transfer Funds modal code -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

 <!-- View Scholarships Modal -->
<div class="modal fade" id="viewScholarshipsModal" tabindex="-1" aria-labelledby="viewScholarshipsModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"> My Active Scholarships </h3> 
      </div>
      <div class="modal-body">
      <p style="size: 0.7em"> Shows Current Scholarship Balance. 
      For more information on how Scholarships work visit our <a href="/help" target="_blank"> Help Page </a></p>
      <hr />
          <table class="table">
          <th:block th:each="scholarship : ${session.scholarshipsList}">
          <tr>
             <td>  
              <p> Available Balance:   <span th:text="${scholarship.getAmount}"></span> </p>
             </td>
             <td>  
              <p> Granted:   <span th:text="${scholarship.getDate_granted()}"></span> </p>
             </td>
             <td>  
              <p> Expires:   <span th:if="${scholarship.getDate_expires()}" th:text="${scholarship.getDate_expires()}"></span> 
                                     <span th:if="!${scholarship.getDate_expires()}" th:text="None"></span></p>
             </td>
          </tr>
          </th:block>
          </table>

         </div>
       </div>
      </div>
     </div>
<!-- End Scholarships Content -->
            
               </div>
            </div>
         </div>
      </div>
     </div>
		
		
<!-- Transfer Funds Receipt Modal -->  
<!-- Reference: https://getbootstrap.com/docs/4.0/components/modal/ -->
<th:block th:if="${session.transferReceipts}"> 
   <input type="hidden" id="modalToShow" th:value="${session.modalToShow}">  
       <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="transferReceiptsModal">
         <div class="modal-dialog modal-lg">
         <div class="modal-content" style="text-align: center;">
         <br />
         <h3 style="text-align: center;"> <img src="images/eth-diamond.png" width="7%"
                  height="7%"> Your Ethereum Funds Transfer Receipt  </h3>
         <hr />
         Ethereum Transfer Receipt: <span th:text="${session.transferReceipts.get(0)}"></span>
         <br />
         Recipient Name: <span th:text="${session.userFundsTransferRecipient.getFirst_name()}"></span> <span th:text="${session.userFundsTransferRecipient.getLast_name()}"></span>
         <br />
         Recipient Email Address: <span th:text="${session.userFundsTransferRecipient.getEmail()}"></span>
         <br />
         Funds Transfer Amount: <nobr> $<span th:text="${session.transferAmount}"></span> </nobr>
         <br />
        </div>
      </div>
     </div>
</th:block>
</body>
</html>


<!-- 
References:
https://getbootstrap.com/docs/4.0/components/card/
https://getbootstrap.com/docs/4.0/components/modal/ -->
