<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="fragments :: header">
<meta charset="ISO-8859-1">
<title>Bookstore Homepage</title>
</head>

<body>

	<div class="jumbotron" style="text-align: center">
		<h3>
			<span
				style="font-size: 2em; text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);"
				id="jumbo"> <img src="images/otter.png" width="10%"
                  height="10%">Bookstore</span> <br />
		</h3>
		<hr />
	</div>

	<div style="float: right; margin: 0.25em">
		<a th:href="@{/checkout}" th:if="${session.cartItemsList}"
			type="button" class="btn btn-primary"> Checkout Cart(<span
			style="color: white" th:text="${session.cartItemsList.size()}"></span>)
		</a>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal"
			data-bs-target="#orderHistoryModal">View Order History</button>
	</div>

	<div style="float: left; margin: 0.25em">
		[[${session.user.getFirst_name()}]]'s Ethereum Balance:
		$[[${session.user.getEth_account_balance()}]] <br />
		[[${session.user.getFirst_name()}]]'s Ethereum Scholarship Balance:
		$[[${session.scholarshipBalance}]] <br />
	</div>


	<!-- Order History Modal -->
	<div class="modal fade" id="orderHistoryModal" tabindex="-1"
		aria-labelledby="orderHistoryModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<div class="modal-body">
						<div class="col-sm-4">
							<div class="card" style="width: 18rem; border: none;">
								<div class="card-body">
									<h5 class="card-title">
										<span sec:authentication="principal.fullName"></span>'s Order
										History
									</h5>
									</br>
									<th:block th:each="transaction : ${session.transactionsList}">
										<h6>
											Order Total: $<span
												th:text="${transaction.getTransaction_total()}"></span>
										</h6>
										<h6>
											Scholarship Funds Used:
											<nobr>
												$<span th:text="${transaction.getScholarship_funds_used()}"></span>
											</nobr>
										</h6>
										<h6>
											Items: <span th:text="${transaction.getItems_list()}"><br /></span>
										</h6>
										</br></br>
									</th:block>
								</div>
							</div>
						</div>

						<th:block></th:block>

						<th:block></th:block>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- End Order History modal code -->


	<br />
	<br />
	<br />

	<!-- 3 Columns/Items per row -->
	<div class="container">
		<div class="row row-cols-3" >
			<div th:each="InventoryItems:${session.inventoryItemsList}"
				class="col-sm-4">
				<div class="card" style="width: 23rem; border: none; padding:4rem">
					<img th:src="@{${InventoryItems.image_source}}" width="auto"
						height="auto" src="" alt="">
					<div class="card-body">
						<h5 class="card-title"></h5>
						<nobr><span th:text="${InventoryItems.name}"
							th:name="name">Product name</span></nobr>
						$<span class="card-text" th:text="${InventoryItems.price}"
							th:name="price">Price</span>
						<form action="/addToCart" method="post">
							<input type="hidden" name="itemId"
								th:value="${InventoryItems.id}">
							<button type="submit" class="btn btn-warning" id="addCartButton">Buy</button>
						</form>		
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<!-- References -->
<!-- https://getbootstrap.com/docs/5.0/components/card/ -->
<!-- Image References:
https://www.bkstr.com/csumontereybaystore/home
 -->